@import "../node-modules/react-image-gallery/styles/css/image-gallery.css";

.blogGrid {
    display: grid;
    gap: 60px;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fill, 300px );
    grid-auto-flow: dense;
    width: 100%;

    .blogGridChild {
        border-radius: 2px;
        padding: 15px;
        border: 2px solid var(--acc);
        &.span-2 {
           grid-column-end: span 2; 
        }
        overflow: hidden;

        >h2 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-clamp: 1;

            text-overflow: ellipsis;
        }

        >h3 {
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: 'BarlowSemi';
            font-weight: 900;
            display: flex;
            border-bottom: 2px solid var(--acc);


        }
        img {
            height: 100px;
        }
    }


    filter: blur(0px);
    transition: filter 0.3s ease-in-out;

    &.dummy {
        filter: blur(15px);
    }
}


.articleContainer {
    width: 100%;

    #edit {
        position: absolute;
        right: 10px;
    }
}

.article {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    // align-items:stretch;

    h2 {
        text-transform: uppercase;
        color: var(--acc);
    }

    p {
        font-size: 24px;
        font-weight: 300;
        line-height: 38px;
        font-family: "BarlowSemi";
        // display: flex;
        // align-items: center;
        // flex-direction: column;
    }

    img {
        display: flex;
        // width: calc(80vw + 300px);
        max-width: 1100px;
        margin-left: -150px;
        margin-right: -150px;
    }
    
    img.klein {
        width: 200px;
    }

    img.links {
        float: left;
        margin: 20px;
    }
    img.rechts {
       float:right; 
       margin: 20px;
    }
}

@import "media.import.less";

.view-articleEdit {
    display: grid;
    gap: 10px;
    height: 100%;
    grid-template-columns: 120px 1fr 1fr;


    >.mediamanager,
    >.toolbar {
        width: 100vw;
    }

    >.toolbar {
        grid-row: 1;
        grid-column: 2 / 4;
    }

    >.mediamanager {
        grid-row: 2;
        grid-column: 2 / 4;
    }

    .editor,
    .preview {
        overflow: scroll;
    }

    >.preview {
        grid-column: 3;
        grid-row: 3;
    }

    >.editor {
        grid-column: 2;
        grid-row: 3;
    }


    .editor textarea {
        width: 100%;
        height: 100%;
    }

    textarea {
        border: 0;
        background: var(--bg);
        color: var(--text)
    }

    .linkedMedia {
        grid-column: 1;
        grid-row: 3 / 4;
    }
}