@import "fonts.import.less";
@import "main-stylings.import.less";

#body {
  --acc: hsv(20, 50%, 50%);
  --bg: hsv(20, 20%, 90%);
  --text: hsv(20, 20%, 10%);

  &.dark {
    --acc: hsv(20, 50%, 50%);
    --bg: hsv(20, 20%, 10%);
    --text: hsv(20, 20%, 90%);
  }

}

body,
html,
#body,
#react-target {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  overflow: hidden;
}

#body {
  font-family: "Neuton";
  color: var(--text);
}

#mainContainer {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0;
  overflow: scroll;
  grid-template-rows: 60px auto 60px;
  grid-template-columns: 50px auto 100px;
}

#contentContainer {
  grid-row: 2;
  grid-column: 2 / span 2;
}

#sidebar {
  grid-row: 1 / span 3;
  grid-column: 1;
}

#navtop {
  grid-row: 1;
  grid-column: 2;
}

#topright {
  grid-row: 1;
  grid-column: 3;
}

#bottomright {
  grid-row: 3;
  grid-column: 3;
}

#navbottom {
  grid-row: 3;
  grid-column: 2;
}