.widget-mediaManager {
    display: flex;
    flex-flow: column;

    .toolbar {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        align-items: stretch;
    }

    ul {
        list-style: none;
    }

    ul.list {
        display: flex;
        flex-flow: column nowrap;

        .mediaManager-tile {
            height: auto;
            width: auto;
            display: flex;
            flex-flow: column wrap;
        }

        img {
            height: 50px;
        }
    }

    .tagbar {
        display: flex;
        flex-flow: row nowrap;


        .tag {
            border-radius: 10px;
            background-color: var(--bg);
            margin: 2px;
            padding: 4px;
        }

        input {
            flex: 1 1;
            background: none;
            border: none;
            outline: none;

        }
    }

    ul.grid {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }
}

.mediaManager-tile {
    width: 100px;
    height: 100px;
    background-color: var(--acc);
    overflow: hidden;

    >img {
        height: 100%;
    }

    &.icon {
        font-size: 100px;
    }
}

.mediaManager-linked {
    display: flex;
    flex-direction: column;
    gap: 10px;
}