nav {
    font-family: 'BarlowSemi';
    font-weight: 900;
    display: flex;
    gap: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    height: 40px;
    
    >* {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 5px 10px;
        background-color: var(--acc);
        &:hover, &.active {
          padding-top: 15px ;
        }
        transition: all 0.3s;
    }

    
}
